<h1>Create a New User</h1>



<%= form_for @user, :html => {:multipart => true} do |f| %>
	<p>
		<%= f.label :first_name %><br/>
		<%= f.text_field :first_name %><br/>
		<%= f.label :last_name %><br/>
		<%= f.text_field :last_name %><br/>
		<%= f.label :email %><br/>
		<%= f.text_field :email %><br/>
		<!-- <#%= role_select(:user, :role_id, Role.all, :id, :role_name) %> -->
		<%= f.label "Role" %><br/>
		<%= f.collection_select :role_id, Role.all, :id , :role_name %><br>
		<%= f.label "Picture" %><br/>
		<%= f.file_field :profile_pic %>
	</p>

	<p>
		<%= f.submit "Create" %>
	</p>


<% end %>

