

<h2>This is the Roles Index</h2>

<%= link_to "New Role", new_role_path %><br><br>

<!--<div class="roles">-->
	
	<table class="table table-striped table-condensed">
		
	<% @roles.each do |role| %>
		<tr>
		<!--<div class="role">-->

			<!--<span class="name">-->
				<td><%= link_to role.role_name, role %></td>
				
				<td><%= link_to 'Show', role %></td>
				<td><%= link_to 'Edit', edit_role_path(role) %></td>
				<td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
			<!--</span>-->
			
		<!--</div>-->
		</tr>
	<% end %>
	</table>	
<!--</div>	-->
