

<h2>This is the Posts Index</h2>


<%= link_to "New Post", new_post_path %><br><br>


	<table class="table table-striped table-condensed">

	

	<% @posts.each do |post| %>

		<tr>
		<div class="post">
			<span class="post_title">
				<td><%= link_to post.title, post_path(post) %></td>
				
				<td><%= link_to 'Show', post %></td>
				<!--<%# if can? :update, Post %>-->
				<% if post.user_id == current_user.id %>
					<td><%= link_to 'Edit', edit_post_path(post) %></td>
					<td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
				<% end %>
			</span>
		</div>
		</tr>
	<% end %>	

	</table>
				






