

<%= nested_form_for @post do |f| %>
	<p>
		<h1><%= @post.title %></h1><br/>
		<%= @post.body %>
	</p>






<h3>Comments</h3>

<%= f.fields_for :comments do |comment_form| %>
  <%= comment_form.text_field :user_comment %>
  <%= comment_form.link_to_remove "Remove this comment" %>
<% end %>
<p><%= f.link_to_add "Add a comment", :comments %></p>





<% end %>